body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

p {
    font-family: Times, "Times New Roman", Georgia, serif;
}

h1.display {
    font-family: punkboy, Verdana, Arial, Helvetica, sans-serif;
}
