$mobile-breakpoint: 768px;

:root {
    --background-primary: #e8e6e0;
    --foreground-primary: #0f0e0d;
    --background-secondary: #dbd6d1;
    --foreground-secondary: #292724;

    --background-other: #9c8979;
    --action-primary: #668d3c;
    --warning-primary: #8f3b1b;

    --nav-menu-button-transition-duration: 150ms;
    --nav-menu-transition-duration: 200ms;

    --mobile-breakpoint: $mobile-breakpoint;

    --system-ui-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Segoe UI Symbol";
}

.dark {
    --background-primary: #0f0e0d;
    --foreground-primary: #e8e6e0;
    --background-secondary: #292724;
    --foreground-secondary: #dbd6d1;
}

@font-face {
    font-family: punkboy;
    src: url("/static/punkboy.ttf");
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: var(--system-ui-font);
    font-size: 1em;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
}

p,
blockquote {
    font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif,
        "Segoe UI Symbol";
}

a {
    color: var(--action-primary);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &[target="_blank"]::after {
        display: inline-block;
        color: var(--action-primary);
        font-size: 0.75em;
        vertical-align: middle;
        padding-bottom: 0.25em;
        margin-bottom: -0.25em;
        margin-left: 0.25em;
        content: "\21D7\FE0E";
    }
}

header {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--background-secondary);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    section {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: center;
        &:first-child {
            justify-content: start;
        }
        &:last-child {
            justify-content: end;
        }
    }
}
h1.display {
    margin: 0;
    padding: 0;
    font-family: punkboy, var(--system-ui-font);
    flex-grow: 1;
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

nav {
    a {
        color: inherit;
        font-family: punkboy, var(--system-ui-font);
        text-decoration: none;
        font-size: 1.2rem;
        &:not(:first-child) {
            padding-left: 1rem;
        }
        &.current-link {
            color: var(--action-primary);
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

main {
    section {
        margin: 0 auto;
        padding: 0 1rem;
        box-sizing: border-box;
        width: var(--mobile-breakpoint);
    }
}

#mobile-nav-select,
#mobile-nav-button {
    display: none;
}

@media only screen and (max-width: $mobile-breakpoint) {
    a {
        padding: 1rem;
        margin: -1rem;
    }
    header {
        position: fixed;
        z-index: 2;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        background: var(--background-primary);
    }
    #mobile-nav-button {
        position: absolute;
        right: 1rem;
        top: 1rem;
        overflow: hidden;
        display: block;
        box-sizing: border-box;
        padding: 2rem;
        margin: -2rem;
        &:hover {
            cursor: pointer;
        }
        svg {
            box-sizing: border-box;
            display: block;
        }
    }
    nav {
        display: flex;
        position: absolute;
        right: 0.25rem;
        top: calc(100% + 1rem);
        max-height: 20rem;
        overflow: auto;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        background-color: var(--background-primary);
        border: 1px solid var(--background-secondary);
        margin: 0;
        z-index: 3;
        // Hide by default
        opacity: 0;
        visibility: hidden;
        transition:
            visibility var(--nav-menu-transition-duration),
            opacity var(--nav-menu-transition-duration) ease-in,
            transform var(--nav-menu-transition-duration) ease-in;
        transform-origin: top right;
        transform: scale(0);
        & a {
            margin: 0;
            padding: 1rem;
            min-width: 15rem;
            &:not(:last-child) {
                border-bottom: inherit;
            }
        }
    }
    #mobile-nav-select:checked + nav {
        // show
        transition:
            visibility 0s,
            opacity var(--nav-menu-transition-duration) ease-in,
            transform var(--nav-menu-transition-duration) ease-in;
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
    #mobile-nav-button svg:not(:first-child) {
        // visibility requires that these overlap
        margin-top: -100%;
    }
    #nav-menu-open-icon,
    #nav-menu-close-icon {
        transition:
            visibility var(--nav-menu-button-transition-duration) ease-in,
            transform var(--nav-menu-button-transition-duration) ease-in;
    }
    #mobile-nav-select:not(:checked) ~ #mobile-nav-button #nav-menu-open-icon,
    #mobile-nav-select:checked ~ #mobile-nav-button #nav-menu-close-icon {
        // show
        visibility: visible;
        transform: scale(1) rotate(0);
        transition:
            visibility var(--nav-menu-button-transition-duration) ease-in,
            transform var(--nav-menu-button-transition-duration)
                var(--nav-menu-button-transition-duration) ease-in;
    }
    #mobile-nav-select:not(:checked) ~ #mobile-nav-button #nav-menu-close-icon,
    #mobile-nav-select:checked ~ #mobile-nav-button #nav-menu-open-icon {
        // hide
        visibility: hidden;
        transform: scale(0) rotate(180deg);
        transition:
            visibility var(--nav-menu-button-transition-duration) ease-in,
            transform var(--nav-menu-button-transition-duration) ease-in;
    }
    main {
        padding-top: 4rem;
        section {
            width: 100%;
        }
    }
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    border-top: 1px solid var(--background-secondary);
    a {
        color: inherit;
    }
    a.social-link {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        white-space: nowrap;
        text-decoration: underline;
        &:hover {
            color: var(--action-primary);
        }
        svg {
            margin: 0 0.5rem;
        }
    }
    section {
        margin-bottom: 1rem;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

.font-heavy {
    font-weight: 600;
}
.font-light {
    font-weight: 400;
}

.button {
    color: inherit;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid;
    transition: box-shadow var(--nav-menu-transition-duration) ease-out;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-shadow: 0.5rem 0.5rem 1rem var(--background-primary);
        box-shadow: 0.5rem 0.5rem 1rem var(--background-primary);
    }
}
.symbol {
    font-family: "Segoe UI Symbol", sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start {
    display: flex;
    justify-content: start;
    align-items: start;
}
.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.text-center {
    text-align: center;
}
.no-break {
    white-space: nowrap;
}

.text-good {
    color: var(--action-primary);
}
.text-bad {
    color: var(--warning-primary);
}

blockquote {
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
    margin-left: 0;
    margin-right: 0;
    padding: 0.1rem 0.1rem;
    padding-left: 2rem;
    border-left: 2px solid var(--foreground-secondary);
    figure {
        margin-left: 0;
    }
}

ul {
    padding-left: 1rem;
    &.bad-list {
        list-style: none;
        li::before {
            font-family: "Segoe UI Symbol", sans-serif;
            content: "\01F44E\FE0E";
            margin-right: 0.25rem;
            color: var(--warning-primary);
        }
    }
    &.good-list {
        list-style: none;
        li {
            &:not(:last-child) {
                margin-bottom: 0.25rem;
            }
            &::before {
                font-family: "Segoe UI Symbol", sans-serif;
                content: "\01F44D\FE0E";
                margin-right: 0.25rem;
                color: var(--action-primary);
            }
        }
    }
}
